@import url(https://fonts.googleapis.com/css?family=Roboto:300)

theme_dark = #0a4f7d
theme_light = #41799c

body
  background theme_dark
  background -webkit-linear-gradient(right, theme_dark, theme_light)
  background -moz-linear-gradient(right, theme_dark, theme_light)
  background -o-linear-gradient(right, theme_dark, theme_light)
  background linear-gradient(to left, theme_dark, theme_light)
  font-family "Roboto", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  padding 0 1rem 1rem 1rem

nav a
  color #ffffff

button
  font-family "Roboto", sans-serif
  text-transform uppercase
  outline 0
  background theme_dark
  border 0
  padding 15px
  color #ffffff
  font-size 14px
  -webkit-transition all 0.3 ease
  transition all 0.3 ease
  cursor: pointer

.login-page
  padding 8% 0 0

.register-page
  padding 4% 0 0

.form-container
  position relative
  z-index 1
  background #ffffff
  max-width: 360px
  margin 0 auto 100px
  padding 45px
  text-align center
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

  input
    font-family "Roboto", sans-serif
    outline 0
    background #f2f2f2
    width 100%
    border 0
    margin 0 0 15px
    padding 15px
    box-sizing border-box
    font-size 14px

  button
    width 100%

  button:hover,
  button:active,
  button:focus
    background theme_light

  .message
    margin 15px 0 0
    font-size 12px

    a
      color theme_dark
      text-decoration none

  .error-message
    color #ff0020

  .success-message
    color #4f8a10
